<!DOCTYPE html>
<link rel="stylesheet" href="../app.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="firstContainer" ng-controller="BuscarImagenesController">
        <form action="" id="formulario" ng-submit="setBusqueda()">
            <div class="input">
                <input type="text" id="busqueda" placeholder="buscar">
            </div>
            <div class="buscar">
                <button type="submit" value="Buscar"> Buscar</button>
            </div>
        </form>

        <div class="container">                    
            <div ng-repeat="imagen in imagesList" class="imgContainer">
                <span ng-if="!imagen.liked_by_user" class="material-icons saved" ng-click="guardar(imagen)">save</span>
                <span ng-if="imagen.liked_by_user"  class="material-icons" ng-click="guardar(imagen)" >check_box</span>
                <img src="{{imagen.urls.thumb}}" alt="{{imagen.alt_description}}"/>
            </div>
        </div>
    </div>
    
    
    


</html>